{namespace coleslaw.theme.wo-light}

{template index}
/*********************************************************************************
 RIGHT HAND SIDE ABOUT BAR
*********************************************************************************/
    <div class="about">
      <h2>Author</h2>
      Willem Rein Oudshoorn
      <h2>Contact</h2>
      <a href="mailto:woudshoo+blog@xs4all.nl">woudshoo+blog@xs4all.nl</a>
      {if $tags}
      <h2>Tags</h2>
         {foreach $tag in $tags}
	   <a href="{$config.domain}/tag/{$tag.slug}.html">{$tag.name}</a>{nil}
	   {if not isLast($tag)},{sp}{/if}
	 {/foreach}
      {/if}
      {if $months}
      <h2>Older Posts</h2>
          {foreach $month in $months}
	  <a href="{$config.domain}/date/{$month}.html">{$month}</a>{nil}
          {if not isLast($month)},{sp}{/if}
          {/foreach}
       {/if}
       <p>
       This blog is powered by:
      <a href="https://github.com/redline6561/coleslaw">
      <img width=100% src="{$config.domain}/css/logo_small.jpg" /></a>
      </p>
    </div>
/********************************************************************************
 POSTS
********************************************************************************/
<h1 class="title">{$index.title}</h1>
{foreach $post in $index.posts}
  {if not isFirst($post)} 
    <hr>
  {/if}
  <div class="article-meta">
    <a class="article-title" href="{$config.domain}/posts/{$post.slug}.html">{$post.title}</a>
    <div class="date"> posted on {$post.date}</div>
    <div class="article">{$post.text |noAutoescape}</div>
  </div>
{/foreach}
<div id="relative-nav">
  {if $prev} <div class="prev"><a href="{$prev}.html">&lt; Previous</a></div> {/if}
  {if $next} <div class="next"><a href="{$next}.html">Next &gt;</a></div> {/if}
</div>
{/template}
